[core]
	editor = nvim
	fsmonitor = false
	untrackedcache = true
	commitGraph = true
	autocrlf = true
	preloadindex = true
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	whitespace = error
	pager = delta
	longpaths = true
[status]
	branch = true
	showStash = true
	showUntrackedFiles = all
	sort = -committerdate
[tag]
	sort = -taggerdate
[gc]
	auto = 8000
	writeCommitGraph = true
[pack]
	threads = 0
	packSizeLimit = 2g
[fetch]
	writeCommitGraph = true
	parallel = 4
	prune = false
[commit]
	verbose = true
[show]
	UntrackedFiles = true
[push]
	autoSetupRemote = true
	default = current
	followTags = true
[pull]
	default = current
	rebase = true
[rebase]
	autoStash = true
	missingCommitsCheck = warn
	autosquash = false
	updateRefs = false
[log]
	date = relative
	abbrevCommit = true
	graphColors = blue,yellow,cyan,magenta,green,red
[color "decorate"]
	HEAD = red
	branch = blue
	tag = yellow
	remoteBranch = magenta
[color "branch"]
	current = magenta
	local = default
	remote = yellow
	upstream = green
	plain = blue
[format]
	pretty = format:%C(yellow)%h %C(blue) %an %C(magenta)%ar %D%n%s%n
[include]
	path = ~/.gitconfig.local
[merge]
	tool = vsdiffmerge
	conflictstyle = zdiff3
	guitool = meld
[mergetool]
	prompt = true
	keepBackup = false
[mergetool "meld"]
	path = C://Program Files/Meld/Meld.exe
	cmd = meld$LOCAL$MERGED$REMOTE--output$MERGED
[mergetool "nvimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'
[difftool]
	prompt = true
[difftool "meld"]
	path = C://Program Files/Meld/Meld.exe
	cmd = meld$LOCAL$MERGED$REMOTE--output$MERGED
[diff]
	colorMoved = default
	algorithm = histogram
	interHunkContext = 10
	tool = vsdiffmerge
	guitool = meld
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = true
	hyperlinks = true
	true-color = always
	side-by-side = true
	line-numbers = true
	features = GitHub zebra-light
	hunk-header-decoration-style = box
[delta "zebra-light"]
	minus-style = "syntax#fbdada"
	minus-emph-style = "syntax#f6b6b6"
	plus-style = "syntax#d6ffd6"
	plus-emph-style = "syntax#adffad"
	map-styles = "bold purple => syntax#feecf7,        bold blue => syntax#e5dff6,        bold cyan => syntax#d8fdf6,        bold yellow => syntax#f4ffe0"
	zero-style = syntax
	whitespace-error-style = "#aaaaaa"
[user]
	name = Lucas Alvarez
	email = lalvarez@elevatorsystems.com
[credential "https://dev.azure.com"]
	usehttppath = true
[difftool "vsdiffmerge"]
	cmd = \"C:\\Program Files\\Microsoft Visual Studio\\2022\\Community\\Common7\\IDE\\CommonExtensions\\Microsoft\\TeamFoundation\\Team Explorer\\vsdiffmerge.exe\" \"$LOCAL\" \"$REMOTE\" //t
	keepBackup = false
[mergetool "vsdiffmerge"]
	cmd = \"C:/Program Files/Microsoft Visual Studio/2022/Community/Common7/IDE/CommonExtensions/Microsoft/TeamFoundation/Team Explorer/vsdiffmerge.exe\" \"$REMOTE\" \"$LOCAL\" \"$BASE\" \"$MERGED\" //m
	keepBackup = false
	trustExitCode = true
	path = vsdiffmerge.exe
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = false
	keepBackup = false
[gui]
	editor = gvim
	historybrowser = C:/Users/lalvarez/AppData/Local/Programs/git-cola/Python/pythonw.exe C:/Users/lalvarez/AppData/Local/Programs/git-cola/git-cola.launch.pyw dag
[cola]
	blameviewer = git gui blame
	statusshowtotals = true
