---
# watch_config_changes: Automatically reload borders whenever the config file is modified.
watch_config_changes: false
rendering_backend: V2  # options: V2, Legacy
global:
  border_width: 3
  border_offset: -1
  border_radius: Square  # Options: Auto, Square, Round, RoundSmall, radius: Integer value
  initialize_delay: 0
  unminimize_delay: 0
  # inactive_color: '#fefcf4'
  inactive_color: E7E4DD
  # active_color: '#c3399b'
  active_color: '#028a9b'
  komorebi_colors: {enabled: false}
  animations: {enabled: false}
  effects: {enabled: false}
window_rules:
  - match: Class
    name: Windows.UI.Core.CoreWindow
    enabled: false
  - match: Class
    name: XamlExplorerHostIslandWindow
    enabled: false
  - match: Process
    name: zebar
    enabled: false
  - match: Title
    name: komorebi-bar
    enabled: false
  - match: Title
    name: keyviz
    enabled: false
  - match: Title
    name: Picture-in-Picture
    enabled: false
  - match: Process
    name: tacky-borders
    enabled: false
