---
general:
  startup_commands:
    - shell-exec zebar.exe
    - shell-exec tacky-borders.exe
    - shell-exec AltSnap.exe
    # - shell-exec gat-gwm.exe
  shudown_commands:
    - shell-exec taskkill /IM zebar.exe /F
    - shell-exec taskkill /IM tacky-borders.exe /F
    # - shell-exec taskkill /IM gat-gwm.exe /F
  config_reload_commands: []
  focus_follows_cursor: false
  toggle_workspace_on_refocus: false
  cursor_jump: {enabled: true, trigger: window_focus}   # Options: 'monitor_focus', 'window_focus'
gaps:
  scale_with_dpi: true
  inner_gap: 24px
  outer_gap: {top: 20px, bottom: 20px, left: 20px, right: 20px}
  single_window_outer_gap: {top: 20px, bottom: 20px, left: 20px, right: 20px}  # 16x9
  # single_window_outer_gap: {top: 8px, bottom: 8px, left: 17%, right: 17%}  # Ultrawide
window_effects:
  focused_window:
    # border: {enabled: true}
    hide_title_bar: {enabled: false}
    # corner_style: {enabled: true, style: rounded}   # Options: 'square', 'rounded', 'small_rounded'
  other_windows:
    # border: {enabled: false}
    hide_title_bar: {enabled: false}
    # corner_style: {enabled: true, style: rounded}
window_behavior:
  initial_state: tiling
  state_defaults:
    floating: {centered: true, shown_on_top: false}
    fullscreen: {maximized: false, shown_on_top: false}
workspaces:
  - name: '1'
  - name: '2'
  - name: '3'
  - name: '4'
  - name: '5'
  - name: '6'
  - name: '7'
  - name: '8'
  - name: '9'
window_rules:
  # Ignore
  - commands: [ignore]
    match:
      - window_process: {equals: zebar}
      - window_title: {regex: '[Pp]icture.in.[Pp]icture'}
        window_class: {regex: Chrome_WidgetWin_1|MozillaDialogClass}
      - window_process: {equals: PowerToys}
        window_class: {regex: 'HwndWrapper\[PowerToys\.PowerAccent.*?\]'}
      - window_process: {equals: PowerToys}
        window_title: {regex: .*? - Peek}
      - window_process: {equals: Lively}
        window_class: {regex: HwndWrapper}
      - window_process: {equals: Ueli}
binding_modes:
  - name: pause
    keybindings:
      - {bindings: [alt+shift+p], commands: [wm-disable-binding-mode --name pause]}
keybindings:
  - {bindings: [alt+shift+p], commands: [wm-enable-binding-mode --name pause]}
  # More modes
  - {bindings: [alt+space], commands: [wm-cycle-focus]}
  - {bindings: [alt+shift+space], commands: [toggle-floating --centered]}
  # Resize workspace
  - {bindings: [alt+u], commands: [resize --width -2%]}
  - {bindings: [alt+p], commands: [resize --width +2%]}
  - {bindings: [alt+o], commands: [resize --height +2%]}
  - {bindings: [alt+i], commands: [resize --height -2%]}
  # Move workspace
  - {bindings: [alt+shift+left], commands: [move-workspace --direction left]}
  - {bindings: [alt+shift+right], commands: [move-workspace --direction right]}
  - {bindings: [alt+shift+up], commands: [move-workspace --direction up]}
  - {bindings: [alt+shift+down], commands: [move-workspace --direction down]}
  # Move Workspace
  - {bindings: [alt+shift+1], commands: [move --workspace 1, focus --workspace 1]}
  - {bindings: [alt+shift+2], commands: [move --workspace 2, focus --workspace 2]}
  - {bindings: [alt+shift+3], commands: [move --workspace 3, focus --workspace 3]}
  - {bindings: [alt+shift+4], commands: [move --workspace 4, focus --workspace 4]}
  - {bindings: [alt+shift+5], commands: [move --workspace 5, focus --workspace 5]}
  - {bindings: [alt+shift+6], commands: [move --workspace 6, focus --workspace 6]}
  - {bindings: [alt+shift+7], commands: [move --workspace 7, focus --workspace 7]}
  - {bindings: [alt+shift+8], commands: [move --workspace 8, focus --workspace 8]}
  - {bindings: [alt+shift+9], commands: [move --workspace 9, focus --workspace 9]}
  # Focus Workspace
  - {bindings: [alt+right], commands: [focus --next-workspace]}
  - {bindings: [alt+left], commands: [focus --prev-workspace]}
  - {bindings: [alt+back], commands: [focus --recent-workspace]}
  - {bindings: [alt+1], commands: [focus --workspace 1]}
  - {bindings: [alt+2], commands: [focus --workspace 2]}
  - {bindings: [alt+3], commands: [focus --workspace 3]}
  - {bindings: [alt+4], commands: [focus --workspace 4]}
  - {bindings: [alt+5], commands: [focus --workspace 5]}
  - {bindings: [alt+6], commands: [focus --workspace 6]}
  - {bindings: [alt+7], commands: [focus --workspace 7]}
  - {bindings: [alt+8], commands: [focus --workspace 8]}
  - {bindings: [alt+9], commands: [focus --workspace 9]}
  # Focus Window
  - {bindings: [alt+h], commands: [focus --direction left]}
  - {bindings: [alt+l], commands: [focus --direction right]}
  - {bindings: [alt+k], commands: [focus --direction up]}
  - {bindings: [alt+j], commands: [focus --direction down]}
  # Move window
  - {bindings: [alt+shift+h], commands: [move --direction left]}
  - {bindings: [alt+shift+l], commands: [move --direction right]}
  - {bindings: [alt+shift+k], commands: [move --direction up]}
  - {bindings: [alt+shift+j], commands: [move --direction down]}
  # Close Window
  - {bindings: [alt+shift+q], commands: [close]}
  # Toggles
  - {bindings: [alt+v], commands: [toggle-tiling-direction]}
  - {bindings: [alt+t], commands: [toggle-tiling]}
  - {bindings: [alt+x], commands: [toggle-fullscreen]}
  - {bindings: [alt+m], commands: [toggle-minimized]}
  # exit
  - {bindings: [alt+shift+z], commands: [wm-exit]}
  # Restarts
  - {bindings: [alt+r], commands: [wm-redraw]}
  - {bindings: [alt+shift+r], commands: [wm-reload-config]}

  # Launch CMD terminal. Alternatively, use `shell-exec wt` or
  # `shell-exec %ProgramFiles%/Git/git-bash.exe` to start Windows
  # Terminal and Git Bash respectively.
  # - commands: ['shell-exec cmd']
  #   bindings: ['alt+enter']
