    prefer-no-csd
    screenshot-path null

    environment {
        ELECTRON_OZONE_PLATFORM_HINT "auto"
        QT_QPA_PLATFORM "wayland"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_SESSION_TYPE "wayland"
        XDG_CURRENT_DESKTOP "niri"
        QT_QPA_PLATFORMTHEME "gtk3"
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
        // wait-for-frame-completion-before-queueing
        force-tearing
    }

    hotkey-overlay {
       skip-at-startup
    }

    cursor {
        // xcursor-theme "Posy_Cursor_125_175"
        xcursor-theme "Posy_Cursor_Black"
        xcursor-size 48
    }

    overview {
        zoom 0.5
        backdrop-color "#e7e4dd"
        workspace-shadow {
            off

        }

    }
